body {
  background-color: #d4d4f7;
}

h1 {
  text-align: center;
}

#gamearea {
  height: 600px;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bfbff2;
}



#gameboard {
  margin: 50px 0 20px 0;

  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: auto auto auto;
}

.square {
  display: flex;
  width: 125px;
  height: 125px;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  background-color: #aaaaee;
  font-size: 62.5px;
}


.square:hover {
  background-color: #9595ea;
}

p {
  padding: 200px, 10px, 20px, 10px;
  text-align: center;
  background-color: #d0d1ac;
  color:  #62466b;
  font-size: 23px;
}



#resetButtonArea {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  background-color: #62466b;
  color: #bfbff2;
}

